<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<div class="container-fluid main">
    <div class="row justify-content-center">
        <div class="col">
            <div class="col-10 mb-5 m-5 p-2 profile">
                <div class="d-flex flex-column justify-content-center">
                    <div class="p-2 text-center">
                        <i class="fas fa-user-circle fa-10x"></i>
                    </div>
                    <div class="p-2 text-center">
                        <h1>{{ TaskList.ABC1.name }}</h1>
                    </div>
                    <div>

                    </div>
                    <div class="p-2 text-center">
                        <app-createtask  [TaskList] = "TaskList" [editfunc] = "0" [id]=""></app-createtask>
                    </div>
                </div>
            </div>
        </div>
        <div class="col tasklist">
            <app-task-card [TaskList] = "TaskList" class="overflow-auto"></app-task-card>
        </div>
    </div>
</div>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


