/* You can add global styles to this file, and also import other style files */
@font-face{
    font-family: noto-snap;
    src:url("./assets/NotoSansJP-Regular.otf");
  }

body{
    /* background-color: #335ccf; */
    font-family: noto-snap;
    background-image: url('./assets/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}